#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.8;
  filter: grayscale(10%) brightness(0.1);
}

header {
  background: #0d0d0d;
  color: #e3f0dc;
  border-bottom: 2px dashed #e3f0dc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 12px 12px;
}

header a {
  
  margin-right: 34px;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  font-size: 1.5rem;
  color: black;
  background-color: #B2ADAD;
  
  
  text-decoration: none;
  background-color: #d9d9d9;
  border: 2px solid #333;
  border-radius: 6px;
  padding: 4px 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon {
  height: 28px;
  vertical-align: middle;
}

.showtext {
  display: none;
}

body {
  font-family: 'Jetbrains Mono', monospace;
  line-height: 1.4;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
}

main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-section {
  margin: 2rem 1rem;
  padding: 1rem;
  max-width: 800px;
  overflow-wrap: break-word;
  background-color: #EDEAE5;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

.profile-section h1 {
  font-family: 'JetBrains Mono', monospace;
}

.profile-section p {
  margin-bottom: 4rem;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -1px;
}

.img-container {
  margin-top: 4rem;
  border: 2px dashed;
  padding: 7px;
  border-radius: 8px;
  box-sizing: border-box;
}

.pages {
  margin-bottom: 4rem;
}

.pages a{
  padding: 6px 20px;
  background-color: #C9C3C3;
  text-decoration: none;
  color: #222;
  box-shadow: 0 3px 8px rgba(0,0,0,0.7);
  border-radius: 100px;
  transform: translateY(-10px);
}

.pages a:hover {
  background-color: #b0a8a8;
  color: #111;
  transform: translateY(-2px) scale(1.03);
}

.github-icon, .email-icon, .linkedin-logo {
  height: 32px;
  vertical-align: middle;
  display: inline-block;
  background-color: #C9C3C3;
  padding: 4px;
  border-radius: 6px;
  transition: all 0.3s ease;

  outline:  2px dashed black;
  outline-offset: 10px;
  box-sizing: content-box;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials a {
  background-color: #B2ADAD;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  text-decoration: none;
}

.socials a:hover {
  background-color: #d9d9d9;
  cursor: pointer;
}

.socials a:hover .github-icon, .socials a:hover .email-icon, .socials a:hover .linkedin-logo {
  background-color: #b0a8a8;
  transform: scale(1.05);
  filter: brightness(0.9);
}
.profile-photo {
  height: 500px;
}

.pipesymbol {
  margin-left: -5px;
  animation: blink 1s step-end infinite;
}

footer {
  background: #0d0d0d;
  color: #e3f0dc;
  text-align: center;
  padding: 15px;
  border-top: 2px dashed #e3f0dc;
  overflow: hidden;
}

/* @font-face {
  font-family: 'Classic Console';
  src: url('../files/clacon2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

@keyframes blink {
  0%, 100% { opacity: 1 }
  50% { opacity: 0 }
}

/* Mobie layout */

@media (max-width:767px) {

  .icon {
    height: 32px;
  }

  .showtextdownload {
    display: none;
  }

  .showtext{
    display: inline;
  }

  header span {
    display: none;
  }

  header a {
    margin-right: 12px;
    

  }
  .profile-section {
    margin-top: 5px;
  }

  .profile-section h1 {
    font-size: 26px;
  }

  main > div {
    margin-top: 3rem;
  }

  .img-container {
    border: 2px dashed;
    width: 100%;
    padding: 10px 0;
  }

  .pipesymbol {
    margin-left: -5px;
    animation: blink 1s step-end infinite;
  }

  .pages a, .socials a {
    display: block;
    margin: 0.5rem 0;
    text-align: center;
  }

  .pages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
  }

  .socials {
    flex-direction: row;
    justify-content: center;
  }


  .profile-photo {
    display: block;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
    transition: 0.3s;
    transform: scale(1);
  }


}